@use "../vars";

.file-picker-modal > .content > .inner {
    text-align: center;

    #uploadbyurl-form {
        text-align: left;
        display: flex;
        gap: 16px;
        align-items: flex-start;
        margin: 24px 0;
        button {
            margin-top: 29px;
        }
    }

    > .title-1 {
        margin-bottom: 24px;
    }
    > .text-blue-500 font-bold my-2 mx-0 {
        margin-bottom: 48px;
    }
    > .file-item-list {
        height: 300px;
        display: flex;
        flex-flow: row wrap;
        gap: 24px;
        margin-bottom: 24px;
        overflow: hidden;
        &.incoming {
            height: auto;
        }
        > .file-item {
            cursor: pointer;
            overflow: hidden;
            width: 82px;
            height: 82px;
            border-radius: 16px;
            background-color: vars.$color-secondary-2;
            position: relative;
            > .percent {
                position: absolute;
                top: 32px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            > .progress-bar {
                bottom: 8px;
                left: 8px;
                position: absolute;
                width: 66px;
                height: 8px;
                background-color: vars.$color-secondary-1;
                border-radius: 8px;
                overflow: hidden;
                > .bar {
                    // border-radius: 8px;
                    background-color: vars.$color-primary-1;
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
    > .controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // margin-bottom: 48px;
        > .icon-btn {
            transition: background-color 220ms;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            path {
                transform: fill 220ms;
                fill: vars.$color-secondary-3;
            }

            &.active {
                cursor: pointer;
                path {
                    transform: fill 220ms;
                    fill: vars.$color-primary-1;
                }
                &:hover {
                    background-color: vars.$color-secondary-2;
                }
            }
        }
    }
    > .dropzone {
        height: 300px;
        > .inner {
            cursor: pointer;
            position: relative;
            display: flex;
            gap: 16px;
            flex-direction: column;
            align-items: center;
            > .text {
                width: 186px;
                position: absolute;
                top: 114px;
                text-align: center;
            }
            > .cta {
                top: 214px;
                position: absolute;
            }
        }
    }
}
