@use "../vars";

#match-post-game-screen {
    width: 860px;
    margin: 0 auto;

    > .top {
        display: flex;
        justify-content: space-between;
        > .details {
            width: 400px;
            > * {
                margin-bottom: 24px;
            }
            > .title-1 {
                margin-bottom: 32px;
            }
            > .stats {
                display: flex;
                gap: 24px;
            }
            > .time {
                margin-bottom: 32px;
                > .text-blue-600 font-bold mx-2 my-0 {
                    margin-bottom: 8px;
                }
                > .content {
                    font-size: 64px;
                    font-weight: 600;
                    margin: 16px 24px;
                }
            }
            > .buttons {
                display: flex;
                gap: 16px;
            }
        }
        > .leaderboard {
            width: 400px;
            border-radius: 16px;
            padding: 16px 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            background-color: vars.$color-secondary-2;
        }
    }
}

@media (max-width: vars.$mobile-maxWidth) {
    #match-post-game-screen {
        margin-bottom: 20vh;
        width: 343px;
        > .top {
            flex-direction: column;
            gap: 48px;
            > .details {
                width: 343px;
                > * {
                    margin-bottom: 24px;
                }
                > .title-1 {
                    margin-bottom: 32px;
                }
                > .stats {
                    display: flex;
                    gap: 24px;
                }
                > .time {
                    margin-bottom: 32px;
                    > .text-blue-600 font-bold mx-2 my-0 {
                        margin-bottom: 8px;
                    }
                    > .content {
                        font-size: 64px;
                        font-weight: 600;
                        margin: 16px 24px;
                    }
                }
                > .buttons {
                    display: flex;
                    gap: 16px;
                }
            }
            > .leaderboard {
                width: 343px;
                box-sizing: border-box;
                border-radius: 16px;
                padding: 16px 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                background-color: vars.$color-secondary-2;
            }
        }
    }
}
