@use "./vars";
@import "./vars";

// Tailwind Directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// My Sass
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800;900&family=Nunito:wght@600;800&display=swap");
@import "./CardPack/CardPack.scss";
@import "CreatePack.scss";
@import "Editor.scss";
@import "MyComponents.scss";
@import "Browse.scss";
@import "popper.scss";
@import "PlaceholderColumn.scss";
@import "InteractiveStudyMode.scss";
@import "Flippable.scss";

html {
    // font-size: 0.0520833333333vw;
    overflow: hidden;
}

body {
    // font-size: 14rem;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
html,
body,
#app {
    font-family: "Inter", sans-serif;
    height: 100%;
}

main {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10vh;
}

@media (max-width: vars.$mobile-maxWidth) {
    html {
        font-size: 0.26666666666vw;
    }
    main {
        padding: 0 24rem;
        // width: 100vw;
    }
}

.divider {
    width: 100%;
    margin: 48rem 0;
    opacity: 0.2;
    background-color: #9e694f;
    height: 2rem;
}

// .title-1 {
//     color: vars.$color-primary-1;
//     font-size: 24rem;
//     font-weight: 600;
//     margin: 8rem 0;
// }

@layer components {
    .title-1 {
        @apply text-lg font-semibold text-blue-600 my-1;
    }
    input {
        @apply px-4 py-3 rounded-sm border-blue-200 bg-blue-100 active:border-blue-400 hover:border-blue-400 border;
    }
}
.my-text-input {
    display: flex;
    gap: 8rem;
    flex-direction: column;
    > label {
        font-weight: 600;
    }
}

.subtitle-2 {
    color: vars.$color-primary-1;
    font-weight: 600;
    margin: 8rem 0;
}
.normal-1 {
    margin: 0;
    font-weight: 600;
    font-size: 14rem;
    color: vars.$color-primary-1;
}
.jumbo-1 {
    font-size: 64rem;
    font-weight: 600;
    color: vars.$color-primary-1;
}

input {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.content {
    word-break: break-word;
}
.form-error {
    margin: 8rem;
    color: vars.$color-error-1;
}

main.wide {
    padding: 0 192rem;
    margin-bottom: 128rem;
    text-align: left;
}

main.column {
    padding: 0 780rem;
    margin-bottom: 128rem;
    text-align: center;
    form {
        text-align: left;
    }
    > * {
        width: 100%;
        margin-bottom: 48rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    > .message > * {
        margin-bottom: 24rem;
    }
}

/* unvisited link */
a:link {
    color: unset;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: unset;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: unset;
    text-decoration: none;
}

/* selected link */
a:active {
    color: unset;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

button.discord {
    color: #5865f2;
    display: flex;
    align-items: center;
    gap: 8rem;
}

.labeled-pills {
    > .label {
        margin-bottom: 8rem;
    }
    > .content {
        padding: 16rem 24rem;
        border-radius: 8rem;
        background-color: vars.$color-secondary-2;
        text-align: center;
    }
}

.btn-secondary {
    background-color: rgba(vars.$color-secondary-2, 0);
}

ol,
ul {
    padding: 0;
    margin-left: 1.5em;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
}
button.btn {
    // outline: none;
    border: none;
    font-size: 16rem !important;
}
.Toastify {
    max-width: 100%;
}

.nowrap {
    white-space: nowrap;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
    html {
        height: -webkit-fill-available;
    }
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
