:root {
    --color-primary-1: #674433;
    --color-primary-2: #9e694f;
    --color-primary-3: #e2b082;
    --color-primary-4: #e4bf9c;
    --color-primary-5: #e7cdb5;
    --color-primary-6: #eadccf;

    --color-secondary-4: #c2a190;
    --color-secondary-3: #decbc0;
    --color-secondary-2: #f0e7e1;
    --color-secondary-1: #f9f5f1;

    --color-shadow-1: rgba(81, 65, 57, 0.55);

    --color-error-1: #e94f2e;
}

$color-primary-1: #674433;
$color-primary-2: #9e694f;
$color-primary-3: #e2b082;
$color-primary-4: #e4bf9c;
$color-primary-5: #e7cdb5;
$color-primary-6: #eadccf;

$color-secondary-4: #c2a190;
$color-secondary-3: #decbc0;
$color-secondary-2: #f0e7e1;
$color-secondary-1: #f9f5f1;

$color-shadow-1: rgba(81, 65, 57, 0.55);

$color-error-1: #e94f2e;

@mixin max-lines($lines: 1, $line-height: 24rem) {
    line-height: $line-height;
    max-height: $line-height * $lines;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

// sync this value with components/mediaQueryHooks.js
$mobile-maxWidth: 800px;

.form-label {
    display: block;
}
.form-check {
    display: flex;
    align-items: center;

    // flex-direction: column;
}
.form-check-input {
    margin-top: 0;
}
.form-check-label {
    margin-left: 8rem;
}
.form-check-input,
.form-check-label {
    cursor: pointer;
}
