@use "./vars";

#Browse {
    display: flex;
    // gap: 64rem;
    justify-content: space-between;
    align-items: flex-start;
    > .browser {
        width: 548rem;
        display: flex;
        flex-direction: column;
        gap: 32rem;
        > .nav {
            display: flex;
            flex-flow: row wrap;
            gap: 16rem;
        }
        > .browser-results {
            display: flex;
            flex-direction: column;
            gap: 32rem;
        }
    }
    > .preview {
        position: relative;
        width: 924rem;
        min-height: 640rem;
        background-color: vars.$color-secondary-2;
        border-radius: 32rem;
        box-sizing: border-box;
        padding: 64rem 32rem;
        > .inner {
            width: 860rem;
            > .divider {
                margin: 32rem 0;
            }
            > .content-preview {
                display: flex;
                flex-direction: column;
                gap: 24rem;
                > .row {
                    display: flex;
                    gap: 48rem;
                    > .field {
                        display: flex;
                        flex-grow: 1;
                        gap: 8rem;
                        max-width: 404rem;
                        > .img {
                            border-radius: 8rem;
                            overflow: hidden;
                            width: 85rem;
                            height: 76rem;
                            flex-shrink: 0;
                        }
                        > .content-wrapper {
                            flex-grow: 1;
                            .content {
                                min-height: 49rem;
                                padding: 0rem 24rem;
                                border-radius: 8rem;
                                border: solid 1rem vars.$color-secondary-4;
                            }
                        }
                    }
                }
            }
            > .header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 16rem;
                > .controls {
                    flex-shrink: 0;
                    display: flex;
                    gap: 16rem;
                    align-items: center;
                    .icon-btn {
                        display: flex;
                        align-items: center;
                        padding: 4rem 16rem 4rem 8rem;
                        border-radius: 8rem;
                        outline: none;
                        border: none;
                        background: none;
                        font-weight: 600;
                        font-size: 14rem;
                        color: vars.$color-secondary-4;
                        cursor: pointer;
                        transition: color 220ms, background-color 220ms;
                        &:hover {
                            background-color: vars.$color-secondary-3;
                            color: vars.$color-primary-1;
                        }
                    }
                }
            }
            > .details {
                display: flex;
                gap: 24rem;
                flex-direction: column;
                > .middle {
                    color: vars.$color-secondary-4;
                    margin: 0;
                    text-transform: capitalize;
                }
                > .bottom {
                    margin: 0;
                }
                > .top {
                    display: flex;
                    justify-content: space-between;
                    gap: 128rem;
                    align-items: flex-start;
                    > .author {
                        flex-shrink: 0;
                        display: flex;
                        gap: 16rem;
                        align-items: center;
                    }
                    > .tags {
                        display: flex;
                        flex-flow: row wrap;
                        gap: 8rem;
                        > .pill {
                            padding: 8rem 16rem;
                            border-radius: 8rem;
                            background-color: vars.$color-primary-5;
                        }
                    }
                }
            }
        }
    }
    .placeholder-wrapper {
        display: flex;
        justify-content: center;
    }
}

.card-preview-default {
    width: 548rem;
    border: 1rem solid vars.$color-secondary-2;
    border-radius: 12rem;
    padding: 16rem;
    box-sizing: border-box;
    height: 138rem;
    width: 100%;
    max-width: 860rem;
    display: flex;
    gap: 16rem;
    transition: background-color 220ms, box-shadow 220ms, border 220ms;
    box-shadow: 0px 4px 4px 0px rgba(81, 65, 57, 0);
    cursor: pointer;
    &:hover {
        background-color: vars.$color-secondary-2;
        box-shadow: 0px 4px 4px 0px vars.$color-shadow-1;
    }
    &.active {
        border: 1rem solid vars.$color-secondary-4;
    }
    > .left {
        height: 100%;
        width: 144rem;
        background-color: vars.$color-secondary-3;
        border-radius: 4rem;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }
    > .right {
        flex-grow: 1;
        > .title {
            @include vars.max-lines(2);
        }
        > .details {
            @include vars.max-lines(1);
        }
    }
}

@media (max-width: vars.$mobile-maxWidth) {
    #Browse {
        padding: 0 24rem;
        .card-preview-default {
            height: 98rem;
            > .left {
                width: 64rem;
            }
        }
    }
}
