@use "./vars";

#CreatePack {
    .add-btn {
        width: 100%;
        margin-bottom: 48rem;
    }
    > .row {
        width: 100%;
    }
    .create-pack-controls {
        > * {
            > * {
                pointer-events: all;
            }
        }
        > .left {
            justify-content: left;
        }
        > .middle {
            justify-content: center;
        }
        > .right {
            justify-content: end;
        }
    }

    .create-pack-row-item {
        .image-wrapper {
            flex-shrink: 0;
            width: 85rem;
            height: 76rem;
            border-radius: 16rem;
            overflow: hidden;
            flex-shrink: 0;
            cursor: pointer;
            > .inner {
                width: 85rem;
                height: 76rem;
                > svg,
                > img {
                    width: 85rem;
                    height: 76rem;
                }
            }
        }

        .middle {
            opacity: 0;
            transition: opacity 220ms;
        }
        .controls {
            opacity: 0;
            transition: opacity 220ms;
            display: flex;
            justify-content: flex-end;
        }
        &:hover {
            .middle {
                opacity: 1;
            }
            .controls {
                opacity: 1;
            }
        }
        &.dragging {
            opacity: 0.5;
            .controls {
                opacity: 0;
            }
        }
        &.overlay {
            .index {
                opacity: 0;
            }
        }
        > .content {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: space-between;

            &.focused {
                z-index: 2;
            }
            > .index {
                min-width: 48rem;
            }
            > .title-1 {
                margin: 0;
            }
            > .fields {
                display: flex;
                flex-grow: 1;
                gap: 24rem;
                img {
                    object-fit: cover;
                }
                > .field {
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-start;
                    gap: 8rem;
                    > .editor-group {
                        width: 250rem;
                        > .card-editor-wrapper {
                            > .editor {
                                min-height: 54rem;
                            }
                            flex-grow: 1;
                            &.active {
                                z-index: 2;
                            }
                        }
                    }
                }
                > .middle {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .add-between-trigger {
        position: relative;
        z-index: 1;
        > .inner {
            position: absolute;
            bottom: 0;
            width: 1300rem;
            height: 96rem;
            // background: red;
            // pointer-events: none;
        }
        > .button {
            // pointer-events: all;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 32rem;
            left: 890rem;
            > .right {
                box-sizing: border-box;
                display: flex;
                background-color: vars.$color-secondary-3;
                align-items: center;
                gap: 16rem;
                border-radius: 8rem;
                padding: 8rem 16rem;
                width: 192rem;
                > .text-blue-600 font-bold mx-2 my-0 {
                    flex-shrink: 0;
                }
            }
            .background {
                transition: background-color 220ms, fill 220ms;
            }
            &:hover .background {
                background-color: vars.$color-secondary-4;

                fill: vars.$color-secondary-4;
            }
        }
    }
}
