@use "./vars";

#CreatePack {
    .add-btn {
        width: 100%;
        margin-bottom: 48px;
    }
    > .row {
        width: 100%;
    }
    .create-pack-controls {
        > * {
            > * {
                pointer-events: all;
            }
        }
    }

    .create-pack-row-item {
        .image-wrapper {
            flex-shrink: 0;
            width: 85px;
            height: 76px;
            border-radius: 16px;
            overflow: hidden;
            flex-shrink: 0;
            cursor: pointer;
            > .inner {
                width: 85px;
                height: 76px;
                > svg,
                > img {
                    width: 85px;
                    height: 76px;
                }
            }
        }

        > .content {
            > .fields {
                img {
                    object-fit: cover;
                }
            }
        }
    }
}
