@use "./vars";

.card-editor-wrapper {
    position: relative;
    img {
        width: 24rem;
        height: 24rem;
    }
    p {
        margin: 0;
    }
    .public-DraftStyleDefault-block {
        margin: 0;
    }
    .toolbar {
        z-index: 1;
        position: absolute;
        top: calc(100% + 8rem);
        width: 360rem;
        justify-content: center;
        background-color: vars.$color-secondary-3;
        box-shadow: 3rem 3rem 5rem vars.$color-secondary-4;
        border-radius: 16rem;
        border: none;
        transition: opacity 220ms, transform 220ms;

        .rdw-option-wrapper {
            height: unset;
            min-width: unset;
            margin: 0 8rem;
            padding: 8rem;
            border-radius: 8rem;
            background-color: vars.$color-secondary-3;
            transition: background-color 220ms;
            border: none;
            outline: none;
            &:hover {
                background-color: vars.$color-secondary-4;
            }
            &.rdw-option-active {
                box-shadow: none;
                background-color: vars.$color-secondary-4;
            }
        }
        .rdw-colorpicker-wrapper {
            justify-content: center;
            .rdw-colorpicker-modal {
                border-radius: 8rem;
                background-color: vars.$color-secondary-3;
                box-shadow: 3rem 3rem 5rem vars.$color-secondary-4;
                border: none;
                top: calc(100% + 16rem);
            }
            .rdw-colorpicker-modal-style-label-active {
                border-bottom: 2rem solid vars.$color-primary-1;
            }
            .rdw-colorpicker-option {
                box-shadow: none;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
    .editor {
        padding: 16rem 24rem;
        transition: border 220ms;
        border: 1rem solid rgba(vars.$color-primary-1, 0.25);
        border-radius: 8rem;
        cursor: pointer;
        &:hover {
            border: 1rem solid rgba(vars.$color-primary-2, 0.75);
        }
    }
    &.active .editor {
        border: 1rem solid rgba(vars.$color-primary-1, 1);
    }
}
