@use "./vars";

@import "./InterativeStudyMode/MatchRounds.scss";
@import "./InterativeStudyMode/PostGameScreen.scss";
#interactive-study-mode {
    padding: 0;
    > .placeholder-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tooltip {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    > .menu-screen {
        padding: 0 422px;
        display: flex;
        justify-content: space-between;
        > * {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            width: 480px;
        }
        > .left {
            > * {
                width: 100%;
            }
            > .nav {
                display: flex;
                gap: 8px;
            }

            > .instructions {
                > .content {
                    padding: 24px 16px;
                    background-color: vars.$color-secondary-2;
                    border-radius: 8px;
                    line-height: 1.5;
                }
            }
        }
        > .right {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
        .selected-card-pack {
            width: 480px;
            padding: 24px 32px;
            box-sizing: border-box;
            border: vars.$color-secondary-4 solid 1px;
            border-radius: 16px;
            > .inner {
                display: flex;
                flex-direction: column;
                gap: 16px;
                > .header {
                    display: flex;
                    gap: 16px;
                    > .img {
                        width: 64px;
                        height: 54px;
                        border-radius: 8px;
                        overflow: hidden;
                    }
                }
                > .stats {
                    align-items: center;
                    display: flex;
                    // gap: 32px;
                    justify-content: space-evenly;
                    > .stat {
                        display: flex;
                        gap: 4px;
                        align-items: center;
                    }
                }
                > .actions {
                    display: flex;
                    gap: 8px;
                }
            }
        }
    }
}

@media (max-width: vars.$mobile-maxWidth) {
    #interactive-study-mode {
        > .menu-screen {
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            gap: 48px;
            flex-direction: column;
            .nav {
                display: flex;
                gap: 8px;
                flex-flow: row wrap;
                width: 343px;
            }
            > * {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                width: 343px;
            }

            .selected-card-pack {
                width: 343px;
                .actions {
                    flex-flow: row wrap;
                }
            }
        }
    }
}
