@use "./vars";

.placeholder-column {
    .img-wrapper {
        height: 320px;
        width: 360px;
        position: relative;
    }
    .message {
        width: 360px;
    }
    .message > .title-1 {
        margin-bottom: 24px;
    }
    > button {
        width: 100%;
    }
    &.regular {
        > .img-wrapper {
            width: 360px;
            height: 320px;
            position: relative;
        }
    }
}
@media (max-width: vars.$mobile-maxWidth) {
    .placeholder-column {
        gap: 24px;
        width: 343px;
        > .img-wrapper {
            height: 148.7px;
            width: 183px;
        }
        .message {
            width: 343px;
        }

        > button {
            width: 343px;
        }
        &.regular {
            > .img-wrapper {
                height: 148.7px;
                width: 183px;
            }
        }
    }
}
