@use "./vars";

.placeholder-column {
    display: flex;
    flex-direction: column;
    gap: 48rem;
    align-items: center;
    width: 400rem;
    text-align: center;
    word-break: break-word;
    .img-wrapper {
        height: 320rem;
        width: 360rem;
        position: relative;
    }
    .message {
        width: 360rem;
    }
    .message > .title-1 {
        margin-bottom: 24rem;
    }
    > button {
        width: 100%;
    }
    &.regular {
        > .img-wrapper {
            width: 360rem;
            height: 320rem;
            position: relative;
        }
    }
}
@media (max-width: vars.$mobile-maxWidth) {
    .placeholder-column {
        gap: 24rem;
        width: 343rem;
        > .img-wrapper {
            height: 148.7rem;
            width: 183rem;
        }
        .message {
            width: 343rem;
        }

        > button {
            width: 343rem;
        }
        &.regular {
            > .img-wrapper {
                height: 148.7rem;
                width: 183rem;
            }
        }
    }
}
