@use "./vars";

.tooltip-container {
    min-width: 32px;
    min-height: 32px;
    border-radius: 3px;
    border: none;

    display: flex;
    flex-direction: column;
    z-index: 9999;
    > .inner {
        border-radius: 8px;
        // padding: 4px;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        background-color: vars.$color-secondary-3;
        box-shadow: 3px 3px 5px vars.$color-secondary-4;
        button {
            background-color: vars.$color-secondary-3;
            &:hover {
                background-color: vars.$color-secondary-4;
            }
        }
    }

    &[data-popper-interactive="false"] {
        pointer-events: none;
    }

    &[data-popper-placement*="bottom"] .tooltip-arrow {
        align-items: flex-end;
        left: 0;
        margin-top: 0;
        top: 0;
        svg {
            position: absolute;
            bottom: 0px;
        }
    }
    &[data-popper-placement*="top"] .tooltip-arrow {
        align-items: flex-start;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        svg {
            rotate: 180deg;
            position: absolute;
            top: 0px;
        }
    }

    &[data-popper-placement*="right"] .tooltip-arrow {
        justify-content: flex-end;
        left: 0;
        margin-left: 0;
        svg {
            rotate: -90deg;
            right: -12px;
            position: absolute;
        }
    }
    &[data-popper-placement*="left"] .tooltip-arrow {
        justify-content: flex-start;
        margin-right: 0;
        right: 0;
        svg {
            rotate: 90deg;
            position: absolute;
            right: -18px;
        }
    }
}

.tooltip-arrow {
    height: 1px;
    position: absolute;
    width: 1px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    > svg {
        flex-shrink: 0;
        width: 32px;
        height: 8px;
        > path {
            fill: vars.$color-secondary-3;
        }
    }
}
